:root {
    --white-color: #f2e3e3;
    --black-color: #212121;
    --tertiary-color:rgb(187, 74, 29);
    --bt-color:#e3cbf5;
    --bt-hov: rgb(248, 160, 248);
    --bg-color:linear-gradient(-45deg, #ff0080, #0080ff);
    --bg-img: linear-gradient(-60deg, #ff4e50 50%, #f9d423 50%);
}

@font-face {
    font-family: Merriweather;
    src: url(Assets/Fonts/Merriweather/Merriweather-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white-color);
    font-family: Merriweather;
    color: var(--black-color)
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}



/* Section-1 style */
.toggle {
    transition: 0.5s;
    display: block;
    width: 40px;
    height: 20px;
    background-color: var(--black-color);
    opacity: 0.9;
    border-radius: 1rem;
    align-self: center;
    margin-left: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.toggle .indicator {
    position: absolute;
    top: 1;
    left: 1;
    width: 20px;
    height: 20px;
    padding: 0.125rem;
    background-color: var(--bt-color);
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
}

.sect-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
}

.right span {
    font-weight: bold;
    margin: 0.25rem;
    font-size: small;
    text-align: center;
}

.right img {
    object-fit: scale-down;
    margin: 0 0.5rem;
    align-self: center;
}

.vl {
    border: 0.5px solid lightgray;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
}

.toggle.active .indicator {
    left: 50%;
}



/* Search Bar style */
.search-bar {
    width: 100%;
    margin-bottom: 3rem;
}

input {
    color: var(--black-color);
    background-color: gray;
    opacity: 0.4;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
}



/* Section-2 style */
.sect-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.sect-2 div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-name p {
    color: #0080ff;
}

.sect-2 button {
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0.7rem;
}

button img {
    width: 45px;
}




/* Section-3 Noun */
.sect-3-noun {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.sect-3-noun div:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.7rem;
}

.sect-3-noun .cut div {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem
}

.sect-3-noun .cut div hr {
    width: 100%;
}

.noun {
    font-weight: bold;
}

.title {
    color: rgba(0, 128, 0, 0.5);
    margin-bottom: 0.5rem;
}

.sect-3-noun div:nth-child(3), 
.sect-3-noun div:nth-child(4) {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.5rem;
}

.antonyms-text,
.synonyms-text {
    color: #0080ff;
}

